@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Lemonada');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    border-top: solid #a385af 8px;
}
body a{
    text-decoration: none;
}
body a:hover{
    text-decoration: none;
}
body a:link{
    text-decoration: none;
}
.main_menu{
    margin:  20px 0;
}
.main_menu .logo{
    background-image: url("../img/Minto_logo.png");
    background-repeat: no-repeat;
    background-position: center left;
}
.main_menu .logo h4{
    color: #a292b3;
    font-size: 39px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    padding: 15px;
    margin-left: 70px;
}
.right_float{
    float: right;
}
.right_float{
    margin-top: 30px;
    padding: 0;
}
.right_float li{
    display: inline-block;
}
.right_float a{
    margin-left: 100px;
    display: block;
    color: #545454;
    font-size: 19px;
    font-weight: 400;
    font-family: "Roboto Condensed";
}
.right_float a:hover{
    color: #a887b4;
}
.right_float li:nth-child(1){
    background-image: url("../img/home_icon.png");
    background-repeat: no-repeat;
    background-position: 70px 3px;
}
.right_float li:nth-child(2){
    background-image: url("../img/man_icon.png");
    background-repeat: no-repeat;
    background-position: 71px 3px ;
}
.right_float li:nth-child(3){
    background-image: url("../img/whell_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
.right_float li:nth-child(4){
    background-image: url("../img/cart_icon.png");
    background-repeat: no-repeat;
    background-position: 71px 6px;
}
.slider_nav img{
    width: 100%;
    height: 485px;
    position: relative;
}
.slider_nav .text_img{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 20%;
    margin-top: 120px;
    font-family: "Lemonada";
}

.slider_nav .text_img h3{
    text-shadow: -4px 5px 0 rgba(130, 105, 157, 0.75);
    color: #ffffff;
    font-size: 117px;
    font-weight: 400;
    opacity: 0.97;
}
.slider_nav .text_img p{
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.45);
    color: #ffffff;
    font-size: 31px;
    font-weight: 400;
}
#three_sc{
    margin-bottom: 100px;
}
.bor_txt{
    border-top: solid #bfbfbf 1px;
    border-bottom: solid #bfbfbf 1px;
    padding: 10px 0;
    margin: 50px 0;
}
.bor_txt p{
    font-family: 'Quicksand';
    font-size: 23px;
    color: #494848;
    font-style: italic;
    text-align: center;
    line-height: 36px;
    margin: 0;
}
.bor_txt strong{
    font-weight: 700;
    color: #82699d;
}
.tr_under img{
    border: solid #dcdcdc 15px;
    border-radius: 100%;
}
.tr_under .text_tr h3{
    margin: 30px 0;
    color: #505051;
    font-size: 31px;
}
.tr_under .text_tr p{
    font-size: 15px;
    line-height: 28px;
    color: #838383;
}
.tr_under .text_tr a{
    float: right;
    margin-top: 15px;
    color: #82699d;
    font-style: italic;
    font-size: 13px;
    display: block;
    background-image: url("../img/arrow_gray.png");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:15px;
}
.tr_under h4{
    font-size: 23px;
    color: #000000;
    font-weight: 400;
}
.tr_under .underline_br{
    border:none;
    border-radius: 0;
    float: right;
}
.tr_under .under_b{
    margin-top: 50px;
}
.tr_under .under_b h4{
    background-image: url("../img/br_4cb.png");
    background-repeat: repeat-x;
    background-position: center right;
    font-family: "Lemonada";
}
#companies .com_con{
    background-color: #f5f5f5;
    text-align: center;
}
#companies .com_con img{
    padding-top: 10px;
}
#companies .com_con a{
    display: block;
    height: 51px;
}
